Repository cmsy-tn/cmsy, pull requests merged in 2023-08, with the labels that each got.

#3 Auth screen
  src/app/app.component.html
  src/app/app.component.scss
  src/app/ng-zorro.module.ts
  src/app/views/authentication-alert/authentication-alert.component.html
  src/app/views/authentication-alert/authentication-alert.component.scss
  src/assets/images/fennec.png
  src/styles.scss
Labels: enhancement

#4 Faq refactor
  src/app/app.component.html
  src/app/app.module.ts
  src/app/modules/faq/components/faq-card/faq-card.component.html
  src/app/modules/faq/components/faq-card/faq-card.component.scss
  src/app/modules/faq/components/faq-card/faq-card.component.ts
  src/app/modules/faq/components/faq-data/faq-data.component.html
  src/app/modules/faq/components/faq-data/faq-data.component.scss
  src/app/modules/faq/components/faq-form/faq-form.component.html
  src/app/modules/faq/components/faq-form/faq-form.component.scss
  src/app/modules/faq/components/faq-form/faq-form.component.ts
  src/app/modules/faq/faq.module.ts
  src/app/modules/faq/views/index/index.component.html
  src/app/modules/faq/views/index/index.component.ts
  src/app/modules/services/services.module.ts
  src/app/modules/shared/copying/copying.component.html
  src/app/modules/shared/copying/copying.component.scss
  src/app/modules/shared/copying/copying.component.ts
  src/app/modules/shared/module-header/module-header.component.html
  src/app/modules/shared/module-header/module-header.component.scss
  src/app/modules/shared/module-header/module-header.component.ts
  src/app/modules/shared/shared.module.ts
  src/app/modules/shared/shared/shared.module.ts
  src/app/ng-zorro.module.ts
Labels: enhancement, FAQ_MODULE

#5 Services refactor
  src/app/modules/services/components/service-card/service-card.component.html
  src/app/modules/services/components/service-card/service-card.component.scss
  src/app/modules/services/components/service-card/service-card.component.ts
  src/app/modules/services/components/service-data/service-data.component.html
  src/app/modules/services/components/service-data/service-data.component.scss
  src/app/modules/services/components/service-data/service-data.component.ts
  src/app/modules/services/components/service-form/service-form.component.html
  src/app/modules/services/components/service-form/service-form.component.scss
  src/app/modules/services/components/service-form/service-form.component.ts
  src/app/modules/services/service.service.ts
  src/app/modules/services/services.module.ts
  src/app/modules/services/views/index/index.component.html
  src/app/modules/services/views/index/index.component.ts
  src/app/ng-zorro.module.ts
  src/app/types/service.type.ts
Labels: enhancement, SERVICES_MODULE

#6 UI enhacements
  angular.json
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/navbar/navbar.component.html
  src/app/components/navbar/navbar.component.scss
  src/app/components/navbar/navbar.component.ts
  src/app/components/sidebar/sidebar.component.html
  src/app/components/sidebar/sidebar.component.scss
  src/app/components/sidebar/sidebar.component.ts
  src/app/components/user-profile/user-profile.component.html
  src/app/components/user-profile/user-profile.component.scss
  src/app/icons-provider.module.ts
  src/app/modules/faq/components/faq-card/faq-card.component.html
  src/app/modules/faq/components/faq-card/faq-card.component.scss
  src/app/modules/faq/components/faq-card/faq-card.component.ts
  src/app/modules/faq/components/faq-data/faq-data.component.html
  src/app/modules/faq/components/faq-data/faq-data.component.scss
  src/app/modules/faq/components/faq-form/faq-form.component.html
  src/app/modules/faq/components/faq-form/faq-form.component.scss
  src/app/modules/faq/components/faq-form/faq-form.component.ts
  src/app/modules/faq/faq.module.ts
  src/app/modules/faq/views/index/index.component.html
  src/app/modules/faq/views/index/index.component.ts
  src/app/modules/services/components/service-card/service-card.component.html
  src/app/modules/services/components/service-card/service-card.component.scss
  src/app/modules/services/components/service-card/service-card.component.ts
  src/app/modules/services/components/service-data/service-data.component.html
  src/app/modules/services/components/service-data/service-data.component.scss
  src/app/modules/services/components/service-data/service-data.component.ts
  src/app/modules/services/components/service-form/service-form.component.html
  src/app/modules/services/components/service-form/service-form.component.scss
  src/app/modules/services/components/service-form/service-form.component.ts
  src/app/modules/services/service.service.ts
  src/app/modules/services/services.module.ts
  src/app/modules/services/views/index/index.component.html
  src/app/modules/services/views/index/index.component.ts
  src/app/modules/shared/copying/copying.component.html
  src/app/modules/shared/copying/copying.component.scss
  src/app/modules/shared/copying/copying.component.ts
  src/app/modules/shared/module-header/module-header.component.html
  src/app/modules/shared/module-header/module-header.component.scss
  src/app/modules/shared/module-header/module-header.component.ts
  src/app/modules/shared/shared.module.ts
  src/app/modules/shared/shared/shared.module.ts
  src/app/ng-zorro.module.ts
  src/app/types/service.type.ts
  src/app/views/authentication-alert/authentication-alert.component.html
  src/app/views/authentication-alert/authentication-alert.component.scss
  src/assets/images/fennec.png
  src/index.html
  src/styles.scss
  tailwind.config.js
Labels: enhancement, FAQ_MODULE, SERVICES_MODULE

#13 Blogs module
  angular.json
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/components/sidebar/sidebar.component.ts
  src/app/modules/blog/blog-routing.module.ts
  src/app/modules/blog/blog.module.ts
  src/app/modules/blog/blog.service.ts
  src/app/modules/blog/components/blog-card/blog-card.component.html
  src/app/modules/blog/components/blog-card/blog-card.component.scss
  src/app/modules/blog/components/blog-card/blog-card.component.ts
  src/app/modules/blog/components/blog-data/blog-data.component.html
  src/app/modules/blog/components/blog-data/blog-data.component.scss
  src/app/modules/blog/components/blog-data/blog-data.component.ts
  src/app/modules/blog/views/blog-add/blog-add.component.html
  src/app/modules/blog/views/blog-add/blog-add.component.scss
  src/app/modules/blog/views/blog-add/blog-add.component.ts
  src/app/modules/blog/views/index/index.component.html
  src/app/modules/blog/views/index/index.component.scss
  src/app/modules/blog/views/index/index.component.ts
  src/app/modules/shared/module-header/module-header.component.html
  src/app/modules/shared/shared.module.ts
  src/app/ng-zorro.module.ts
  src/app/types/blog.post.type.ts
Labels: enhancement, BLOG_MODULE

#11 fix: modifty sidebar title to 'Profile'
  src/app/components/navbar/navbar.component.html
Labels: enhancement

#12 feat: add auth screen image text #8
  src/app/views/authentication-alert/authentication-alert.component.html
  src/app/views/authentication-alert/authentication-alert.component.scss
Labels: enhancement

#14 Build configuration fixed
  angular.json
  src/app/views/authentication-alert/authentication-alert.component.scss
Labels: bug, enhancement
